@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

html {
	scroll-behavior: smooth;
}

body
{
	font-family: 'Inconsolata';
	margin: 0;
	padding: 0;
	background: rgb(71, 71, 71);
}

/* --------Loading-------- */
.preload {
	width: 100%;
	height: 100%;
	background: #333;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 1;
}

.logo {
	width: 300px;
	height: 70px;
	margin: 150px auto 50px auto;
	font-size: 50px;
	text-shadow: -1px 2px 2px #000;
	text-align: center;
	color: azure;
}

.loader-frame {
	width: 70px;
	height: 70px;
	margin: auto;
	position: relative;
}

.loader1, .loader2 {
	position: absolute;
	border: 5px solid transparent;
	border-radius: 50%;
}

.loader1 {
	width: 70px;
	height: 70px;
	border-top: 5px solid azure;
	border-bottom: 5px solid azure;
	animation: clockwisespin 1.3s linear 3;
}

.loader2 {
	width: 60px;
	height: 60px;
	border-left: 5px solid #18db2b;
	border-right: 5px solid #18db2b;
	top: 5px; left: 5px;
	animation: anticlockwisespin 1.3s linear 3;
}

@keyframes clockwisespin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@keyframes anticlockwisespin {
	from {transform: rotate(0deg);}
	to {transform: rotate(-360deg);}
}
/* --------Loading-------- -END- */

.container
{
	position: relative;
	width: 100vw;
	height: 100vh;
	z-index: 3;
	opacity: 0;
	transition: 0.4s;
}

.section
{
	width: 100%;
	height: 100vh;
	background: rgb(33, 33, 33);
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;
}

.name
{
	position: absolute;
	top: 0px;
	left: 45px;
	font-size: 3vw;
	color: white;
}

/* --------Navbar-------- */
.nav {
	background-color: rgba(0,0,0,0);
	align-items: center;
	opacity: 0;
	transition: 0.3s;
}

.nav-items {
	background-color: rgba(0,0,0,0);
	position: fixed;
	top: 25%;
	right: 25px;
	display: block;
	text-align: right;
	list-style: none;
	font-size: 1.6vw;
	z-index: 50;
}

.item {
	margin-top: 40px; 
	margin-left: -15px;
}

.link {
	color: white;
	text-decoration: none;
	transition: opacity 0.5s, color 0.7s, border-color 0.8s;
	border-bottom: 2px solid #18db2b;
	border-width: 100%;
}

.link:hover {
	opacity: 0.5;
	border-color: red;
	cursor: pointer;
}

.active {
	border-color: red;
}

/* --------Navbar--------  -END- */

/* --------Home Section-------- */

#message {
	color: #18db2b;
	font-size: 6vw;
	text-align: center;
}

/* blinking caret */
#blinking h1 {
	font-size: 5vw;
	border-right: .09em solid; /* The typwriter cursor */
	animation:
    	blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  	from, to { border-color: transparent }
  	50% { border-color: #18db2b }
}
/* blinking caret -END- */

#learn-more {
	visibility: hidden;
	position: absolute;
	bottom: 20px;
	padding-top: 70px;
	text-decoration: none;
	font-size: 1.3vw;
	color: rgba(0,0,0,0);
	transition: opacity 1s;
}

/* Animation for the down anchor */
#learn-more:hover {
	opacity: 0.5;
}

#learn-more span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #18db2b;
  border-bottom: 1px solid #18db2b;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 2s infinite;
  animation: sdb05 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
/* Animation for the down anchor -END- */

/* --------Home Section-------- -END- */

/* --------About Section-------- */

.about-title {
	font-size: 5vw;
}

.text {
	font-size: 1.7vw;
}

#slide-about-section-text {
	box-sizing: content-box;
	border: 2px solid white;
	width: 50%;
	display: block;
	text-align: center;	
}

#slide-about-text {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.section-photo img {
	margin-left: 60px;
	box-sizing: content-box;
	border: 2px solid white;
	border-radius: 100px;
}

/* --------About Section-------- -END- */

/* --------Project Section-------- */

#slide-projects {
	background: rgb(33, 33, 33);
	width: 100%;
	height: 100%;
	margin-bottom: 100vh;
}

.project-title {
	position: absolute;
	bottom: -117vh;
	font-size: 3vw;
}

.project {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: -200vh;
	display: flex;
	justify-content: center;
	text-align: center;
}

.project a {
	text-decoration: none;
	color: black;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.project-ios {
	position: absolute;
	top: 17vh;
	display: flex;
	vertical-align: center;
}

.project-other {
	position: absolute;
	top: 56vh;
	display: flex;
	vertical-align: center;
}

.block {
	font-size: 4vw;
	height: 30vh;
	width: 37vw;
	background: rgb(48, 48, 48);

	text-decoration: none;
	transition: 0.6s;

	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

.block:hover {
	opacity: 0.6;
	box-shadow: 0 8px 16px 0 rgba(255,255,255,0.4);
}

.block-ws, .block-web {
	margin-left: 3vw;
}

.block-mybx {
	background: url('../Image/ios1.png');
	background-size: cover;
	background-position: center;
}
.block-ws {
	background: url('../Image/ios1.png');
	background-size: cover;
	background-position: center;
}
.block-java {
	background: url('../Image/java.jpg');
	background-size: cover;
	background-position: center;
}
.block-web {
	background: url('../Image/web3.jpg');
	background-size: cover;
	background-position: center;
}

/*
.project {
	box-sizing: border-box;
	border: 4px solid white;
	position: absolute;
	bottom: -190vh;
	margin-top: 14vh;
	width: 70vw;
	height: 70vh;
	overflow: hidden;
}

.navigation {
	position: absolute;
	bottom: 4%;
	right: 2%;
}

.bar {
	height: 10px;
	border: 2px solid white;
	margin-left: 6px;
	padding-top: 4px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 3px;
	cursor: pointer;
	transition: background 1s;
}

.bar:hover {
	background: white;
}

input[name="r"] {
	position: absolute;
	visibility: hidden;
}

.slides {
	width: 300%;
	height: 100%;
	display: flex;
}

.slide {
	width: 34%;
	height: 100%;
	transition: 0.6s;
}

.slide img {
	width: 100%;
	height: 100%;
}

#r1:checked ~ .s1 {
	margin-left: 0;
}

#r2:checked ~ .s1 {
	margin-left: -34%;
}

#r3:checked ~ .s1 {
	margin-left: -68%;
}
*/

/* --------Project Section-------- -END- */

/* --------Contact Section-------- */

.contact-title {
	text-shadow: 2px 2px 4px #000000;
}

.contact {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 2;
	color: rgb(33, 33, 33);
	top: 0;
	left: 0;
	opacity: 0;
	transition: 3s;
}

.contact-background {
	background: url('../Image/background.jpg');
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.background-image {
	filter: blur(4px);
  	-webkit-filter: blur(4px);
}

.contact-info {
	position: absolute;
	bottom: 18%;
	margin-left: 8vw;
}

.contact-info h1 {
	font-size: 3.8vw;
	text-shadow: 1px 1px 4px #000000;
}

.body {
	margin-left: 5vw;
	line-height: 90px;
}

.mailto, .resume {
	text-decoration: none;
	color: #757575;
	transition: opacity 0.7s, color 0.7s;
}

.mailto:hover, .resume:hover {
	opacity: 0.8;
	color: white;
	text-decoration: underline;
}

.separator {
	position: absolute;
	bottom: 15%;
	width: 100vw;
}

.footer {
	position: absolute;
	bottom: 4.4%;
	left: 0; right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#linkedin img, #github img {
	height: 50px;
	width: 50px;
	transition: opacity 0.6s;
}

#github img {
	margin-left: 25px;
}

#linkedin img:hover, #github img:hover {
	opacity: 0.3;
}

#copy-right {
	margin-left: 25px;
	color: white;
}

/* --------Contact Section-------- -END- */

















