@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

html {
	scroll-behavior: smooth;
}

body
{
	font-family: 'Inconsolata';
	margin: 0;
	padding: 0;
	background-color: #212121;
}

.nav {
	background-color: #212121;
	align-items: center;
}

.nav-items {
	background-color: #212121;
	position: fixed;
	top: 25%;
	right: 25px;
	display: block;
	text-align: right;
	list-style: none;
	font-size: 1.6vw;
	z-index: 10;
}

.item {
	margin-top: 40px; 
	margin-left: -15px;
}

.link {
	color: white;
	text-decoration: none;
	transition: opacity 0.5s, color 1s, border-color 0.5s;
	border-bottom: 2px solid #18db2b;
	border-width: 100%;
}

.link:hover {
	opacity: 0.5;
	border-color: red;
}

.active {
	border-color: red;
}

.container
{
	position: relative;
	width: 100%;
	height: 100vh;
}

.section
{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-color: #212121;
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;
}

#name
{
	position: absolute;
	top: 0px;
	left: 45px;
	font-size: 3vw;
}

#message {
	color: #18db2b;
	font-size: 6vw;
	text-align: center;
}

/* blinking caret */
#blinking h1 {
	font-size: 5vw;
	border-right: .09em solid; /* The typwriter cursor */
	animation:
    	blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  	from, to { border-color: transparent }
  	50% { border-color: #18db2b }
}
/* blinking caret -END- */

/*
#btn-run {
	text-decoration: none;
	color: white;
	position: absolute;
	bottom: 40px;
	right: -25px;
	float: right;
	margin-right: 80px;
	border: 0px;
	background-color: rgba(0,0,0,0);
	font-size: 4.3vw;

	transition: color 0.8s;
}

#btn-run:hover {
	color: rgba(255,255,255,0.3);
}
*/

#learn-more {
	visibility: hidden;
	position: absolute;
	bottom: 50px;
	padding-top: 70px;
	text-decoration: none;
	font-size: 1.3vw;
	color: rgba(0,0,0,0);
	transition: color 2s, opacity 1s;
}

/* Animation for the down anchor */
#learn-more:hover {
	opacity: 0.5;
}

#learn-more span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #18db2b;
  border-bottom: 1px solid #18db2b;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 2s infinite;
  animation: sdb05 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
/* Animation for the down anchor -END- */

.title {
	font-size: 5vw;
}

.text {
	font-size: 1.7vw;
}

#slide-about-section-text {
	box-sizing: content-box;
	border: 2px solid white;
	width: 50%;
	display: block;
	text-align: center;	
}

#slide-about-text {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.section-photo img {
	margin-left: 60px;
	box-sizing: content-box;
	border: 2px solid white;
	border-radius: 100px;
}

#slide-home {}

#slide-about {}

#slide-projects {}

#slide-contact {}