@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
	background: #474747;
	margin: 0px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 21px;
	position: fixed;
	background-color: rgba(25, 25, 25, 0);
	z-index: 1;
	transition: background 1s;
	/* NavBar Shadow
	box-shadow: 0px -6px 7px 7px black;
	*/
}

.container:hover {
	background-color: rgba(25, 25, 25, 1);
}

header::after {
	content: '';
	display: table;
	clear: both;
}

#logo2 {
	color: rgba(0,0,0,0);
	margin-top: 13px;
	margin-left: -85px;
	float: left;
	text-decoration: none;
  	font-size: 35px;
  	transition: color 1s;
}

#logo {
	color: white;
	margin-top: 13px;
	margin-left: 50px;
	float: left;
	text-decoration: none;
  	font-size: 35px;
  	transition: color 1s;
}

.logo:hover #logo2 {
  	color: white;
}

.logo:hover #logo {
  	color: rgba(0,0,0,0);
}

nav {
	float: right;
	margin-right: 50px;
}

/*Style for the List*/
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*Style for the element in the list*/
nav li {
	display: inline-block;
	margin-left: 50px;
	margin-top: 30px;
	position: relative;
}

/*Style for each hyperlink*/
nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;

	transition: color 1s;
}

nav a:hover {
	color: #3881f7;
}

nav a::before {
	margin-bottom: -27px;

	content: '';
	display: block;
	height: 5px;
	background-color: #3881f7;

	position: absolute;
	bottom: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before {
  	width: 100%;
}

.active {
	color: #3881f7;
}

h1, h2, p {
  	color: white;
}

#body {
	margin-top: 68px;
}

.video_area {
	position: relative;
}

video {
	margin-top: -68px;
	height: auto;
  	vertical-align: middle;
  	width: 100%;
}

.overlay {
	background: rgba(0,0,0,0);
  	position: absolute;
  	top: 0; right: 0; bottom: 0; left: 0;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 9vw;
	text-shadow: 0px 3px 6px black;
}

hr {
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 0 1px 6px 1px black;
}

.about_me-area, .education-area, .skills-area, .relevant_projects-area, .work_experience-area, .feedback-area {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	padding-top: 80px;
	padding-bottom: 110px;
	width: 100%;
	height: 100%;
	/*margin-top: 80px;*/
}

.text {
	width: 80%;
	height: 80%;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 50px;
}

p {
	font-size: 20px;
	line-height: 50px;
}

h1, p {
	text-shadow: 1px 1px 2px black;
}

a {
	color: white;
}

.about_me-area, .skills-area, .work_experience-area {
	/*background: #848484;*/
	background: #cccccc;
}

.about_me-area h1, .about_me-area p, .skills-area h1, .skills-area p, .work_experience-area h1, .work_experience-area h2, .work_experience-area p {
	color: black;
	text-shadow: 1px 1px 2px grey;
}

.skills-area .text, .relevant_projects-area .text {
	width: 50%;
}

.section_title {
	text-align: center;
}

html {
	scroll-behavior: smooth;
}

.footer {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin: auto;
	background: #191919;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;

}

.footer-items {
	font-size: 15px;
	line-height: 25px;
}













