@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
	background: #474747;
	margin: 0px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 21px;
	position: fixed;
	background: rgba(25, 25, 25, 0.7);
	z-index: 1;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
	margin-top: 18px;
	margin-left: 50px;
	text-decoration: none;
  	color: white;
  	font-size: 25px;
}

nav {
	float: right;
	margin-right: 50px;
}

/*Style for the List*/
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*Style for the element in the list*/
nav li {
	display: inline-block;
	margin-left: 50px;
	margin-top: 25px;
	position: relative;
}

/*Style for each hyperlink*/
nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

nav a:hover {
	color: #3881f7;
}

nav a::before {
	margin-bottom: -24px;

	content: '';
	display: block;
	height: 5px;
	background-color: #3881f7;

	position: absolute;
	bottom: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before {
  	width: 100%;
}

h1, h2, p {
  	color: white;
}

#body {
	margin-top: 68px;
}

.about_me-area, .education-area, .skills-area, .relevant_projects-area, .work_experience-area, .feedback-area {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 875px;
	/*margin-top: 80px;*/
}

.text {
	width: 65%;
	height: 80%;
}

h1 {
	font-size: 50px;
}

p {
	font-size: 25px;
	line-height: 50px;
}

.about_me-area, .skills-area, .work_experience-area {
	background: #848484;
}

.education-area, .relevant_projects-area, .feedback-area {
}

.section_title {
	text-align: center;
}

html {
	scroll-behavior: smooth;
}

.footer {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin: auto;
	background: #191919;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;

}

.footer-items {
	font-size: 15px;
	line-height: 25px;
}













